@color-tree-default: lighten(@base-background-color, 50%); // #f9f5dd; // #cae682;
@color-tree-modified: #e6db7a; // #ff0;
@color-tree-added: #82e64c; // #0f0;
@color-tree-removed: #f44; // #f00;
@color-tree-renamed: #5596f1; // #00f;
@color-tree-ignored: lighten(@base-background-color, 25%); // #485f48;

@color-white: #fff;

@color-pink: #f55385;
@color-pink-highlight: #63213f;
@color-pink-text: #fff;

@color-background-dark: #1e1e1e;
@color-background-darker: #111415;

@user-background-color: @color-background-dark;
